.jobmini {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 1.42857;
  color: rgb(255, 255, 255);
  background-color: #70a0f0;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 10px 15px;
  border-color: rgb(149, 165, 166);
  border-radius: 1px;
}

.title {
  color: white;
}

.skillList {
  color: black;
}

.closingDate {
  color: gray;
}
